/* about.css */

/* Style for the main container */
.first {
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	
}

/* Style for the container holding the text */
.second,
.forth {
	
	width: 100%;
	max-width: 90%;
	text-align: center;
	margin-bottom: 20px;
}

/* Style for the title */
.second h1 {
	font-size: 60px;
	color: black;
	text-decoration: underline;
	padding: 30px;
}


/* Style for the paragraph */
.third {
	font-size: 30px;
	color: black;
	text-align: justify;
}
.fifth {
	font-size: 30px;
	color: black;
	text-align: justify;
	float: right;
	max-width: 50%;
	padding: 10px 0px 0px 5px;
}

/* Style for the container holding the image and additional text */
.forth img {
	max-width: 50%;
	height: 50svh;
	float: left;
	padding: 10px 5px 0px 0px;
	border-radius: 20%;
  object-fit: cover;
  position: relative;
  overflow: hidden; /* Hide the overflow to hide any parts of the image that go beyond the screen */
  margin: 0 auto;
}

/* Media query for mobile view */
@media (max-width: 1000px) {
	
	.first {
		padding: 10px;
	}

	.second h1 {
		font-size: 2rem;
	}

	.third,
	.fifth {
		font-size: 0.9rem;
	}
  .forth img {
    max-width: 100%;
    height: 50svh;
    float: left;
    padding: 10px 5px 0px 0px;
    border-radius: 20%;
    object-fit: cover;
    position: relative;
    overflow: hidden; /* Hide the overflow to hide any parts of the image that go beyond the screen */
    margin: 0 auto;
  }
  .fifth {
    color: black;
    text-align: justify;
    float: right;
    max-width: 100%;
    padding: 10px 0px 0px 5px;
  }
}
