.hero {
  height: 100%;
  width: 100%;
}

.hero .form-box {
  width: 380px;
  height: 520px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 15px; /* Changed from 5px to 15px */
  overflow: hidden;
  border-radius: 10px; /* Added border-radius */
  box-shadow: 0 0 20px 9px #ff61241f;
}

.hero .buttonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
}

.hero .toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.hero #btn1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.hero .input-group {
  top: 110px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.hero .input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: none; /* Changed from specific border properties to none */
  border-bottom: 1px solid #999; /* Fixed typo from "soldi" to "solid" */
  outline: none;
  background: transparent;
}

.hero .submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.hero .check-box {
  margin: 30px 10px 30px 0;
}

.hero span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

.hero #login {
  left: 50px;
}

.hero #register {
  left: 450px;
}
