* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	/* text-transform: capitalize; */
	transition: all 0.2s linear;
}
:root {
	--clr: black;
}
body {
	background: white;
    justify-content: center;
    align-items: center;
		background-position: center;
		background-size: cover;
    position: relative;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
